<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"/>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>

  </head>
  <body>
    <h1>Mapa EcoBici - DataScienceAr.io</h1>
    <div id="map" style="width: 800px; height: 600px"></div>

	<script type="text/javascript">
		var buenosAires = [-34.609851, -58.423326]
        var map = L.map('map').setView(buenosAires, 12);

		estaciones = <%-JSON.stringify(estaciones)%>;
		tramos = <%-JSON.stringify(tramos)%>;



  //       var CartoDB_Positron = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
		// 	attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
		// 	subdomains: 'abcd',
		// 	maxZoom: 19
		// });


		// // https: also suppported.
		// // var Thunderforest_Pioneer = L.tileLayer('http://{s}.tile.thunderforest.com/pioneer/{z}/{x}/{y}.png', {
		// // 	attribution: '&copy; <a href="http://www.thunderforest.com/">Thunderforest</a>, &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
		// // });


		// // var Stamen_Watercolor = L.tileLayer('http://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.{ext}', {
		// // 	attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
		// // 	subdomains: 'abcd',
		// // 	minZoom: 1,
		// // 	maxZoom: 16,
		// // 	ext: 'png'
		// // });

		var Hydda_Full = L.tileLayer('http://{s}.tile.openstreetmap.se/hydda/full/{z}/{x}/{y}.png', {
			attribution: 'Tiles courtesy of <a href="http://openstreetmap.se/" target="_blank">OpenStreetMap Sweden</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
		});

        Hydda_Full.addTo(map);

		var freqcolor = d3.scale.linear()
    		.domain([0, 10000])
    		.range(["white", "green"]);

    	var freqopacity = d3.scale.linear()
    		.domain([0, 10000])
    		.range([0, 1]);


  //   	var timecolor = d3.scale.linear()
  //   		.domain([0, 80])
  //   		.range(["gold", "white"]);

  //   	var timeopacity = d3.scale.linear()
  //   		.domain([0, 80])
  //   		.range([0.5, 1])

    	var size = d3.scale.linear()
    		.domain([9500,82794])
    		.range([10, 30])


		 L.geoJson(tramos,{
			    style: function (feature) {
			    		return {
			    			color: freqcolor(feature.properties.f6),
			    			opacity: freqopacity(feature.properties.f6),
			    			className: 'tramo estacion' + feature.properties.f1
			    			};			        
			    }
			}
		 	).addTo(map);


  // 		var emarker = L.icon({
		//     iconUrl: '/images/marker.png',
		//     iconSize:     [20,20], // size of the icon
		//     iconAnchor:   [10, 10], // point of the icon which will correspond to marker's location
		//     popupAnchor:  [0, 0] // point from which the popup should open relative to the iconAnchor
		// });

  		// L.geoJson(estaciones,{
    // 		pointToLayer: function (feature, latlng) {
    //         	return L.marker(latlng, {icon: emarker });
    //     	}
    // 	}).addTo(map)


    	L.geoJson(estaciones,{
    		pointToLayer: function (feature, latlng) {
            	return L.marker(latlng, {icon: L.icon({
							    iconUrl: '/images/marker.png',
							    iconSize:     [size(feature.properties.f3),size(feature.properties.f3)], // size of the icon
							    iconAnchor:   [0, 0], // point of the icon which will correspond to marker's location
							    popupAnchor:  [0, 0] // point from which the popup should open relative to the iconAnchor
							})
		 				});
        	}
    	}).addTo(map).on('click', function(e){
    		$('.tramo').hide();
    		$('.estacion'+e.layer.feature.properties.f2).show().attr('stroke-opacity',1);
    	});
		
		
	</script>
  </body>
</html>
